p,
a:visited,
a:link {
  color: white;
}
div {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 30px 0px white;
  position: absolute;
  width: 150px;
}

body {
  background: url(skiflic.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  color: purple;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 2px solid red;
  border-style: double;
  background: repeating-linear-gradient(red, yellow);
  width: 80px;
}
#h2 {
  color: pink;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 2px solid rgb(234, 0, 255);
  border-style: double;
  background: repeating-linear-gradient(blue, aqua);
  width: 250px;
}
